<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Синтаксические конструкции Jinja</title>
</head>
<body>
<h1 align="center">Синтаксические конструкции Jinja</h1>
<h2 align="center">Задание: условный оператор</h2>
{% if b1 < a1 < c1 or c1 < a1 < b1 or a1 == b1 or a1 == c1 %}
                  <p align="center">{{ a1 }}</p>
{% elif a1 < b1 < c1 or c1 < b1 < a1 or b1 == a1 or b1 == c1 %}
                  <p align="center">{{ b1 }}</p>
{% elif a1 < c1 < b1 or a1 < c1 < b1 or c1 == b1 or c1 == a %}
                  <p align="center">{{ c1 }}</p>
{% endif %}

<h2 align="center">Задание: Jinja калькулятор</h2>
{% if oper in operations and oper == '+' %}
<p align="center">{{ a+b }}</p>
{% elif oper in operations and oper == '-' %}
<p align="center">{{ a-b }}</p>
{% elif oper in operations and oper == '*' %}
<p align="center">{{ a*b }}</p>
{% elif oper in operations and oper == ':' and b!=0 %}
<p align="center">{{ a/b }}</p>
{% elif oper in operations and oper == '**' %}
<p align="center">{{ a**b }}</p>
{% else %}
<p align="center">Ошибка</p>
{% endif %}

<h2 align="center">Задание: отображение списка</h2>

    {% for item in my_list %}
        {{ loop.index }} - {{ item }} <br>
    {% else %}
    {% if my_list == [] %}
        <p align="center"> Численная последовательность не существует </p>
    {% endif %}
    {% endfor %}

</body>
</html>